{% extends "layout.html" %}

{% block content %}


<form  method = "post"  action="/mov_consulta" enctype="multipart/form-data">
    <input type="hidden" name="documento" value="{{paciente.documento}}">

<table class="default">
    <th><label for="mov_consulta">Motivo de Consulta</label></th>
    <td><input type="text" name="mov_consulta" id="mov_consulta" class="form-control" placeholder="Motivo de Consulta"></td>
    <th><label for="ulti_consulta">Ultima Consulta</label></th>
    <td><input type="text" name="ulti_consulta" id="ulti_consulta" class="form-control" placeholder="Ultima Consulta"></td>
</table>


<table class="default">
    <table class="default">
        <caption>RX FINAL (Formulación)</caption>
        <tr>
            <th><label for="esfera">OJO DERECHO</label></th>
    
            <td><input type="text" name="esfera" id="esfera" class="form-control" placeholder="Esfera"></td>
            <td><input type="text" name="cilindro" id="cilindro" class="form-control" placeholder="Cilindro"></td>
            <td><input type="text" name="eje" id="eje" class="form-control" placeholder="Eje"></td>
            <td><input type="text" name="dp" id="dp" class="form-control" placeholder="D.P"></td>
            <td><input type="text" name="vl20" id="vl20" class="form-control" placeholder="AV VL20/"></td>
            <td><input type="text" name="vp20" id="vp20" class="form-control" placeholder="AV VP20/"></td>
            <td><input type="text" name="add_0" id="add_0" class="form-control" placeholder="ADD"></td>
        </tr>
        <tr>
            <th><label for="ojo_izq">OJO IZQUIERDO</label></th>
            
            <td><input type="text" name="esfera_1" id="esfera_1" class="form-control" placeholder="Esfera"></td>
            <td><input type="text" name="cilindro_1" id="cilindro_1" class="form-control" placeholder="Cilindro"></td>
            <td><input type="text" name="eje_1" id="eje_1" class="form-control" placeholder="Eje"></td>
            <td><input type="text" name="dp_1" id="dp_1" class="form-control" placeholder="D.P"></td>
            <td><input type="text" name="vl20_1" id="vl20_1" class="form-control" placeholder="AV VL20/"></td>
            <td><input type="text" name="vp20_1" id="vp20_1" class="form-control" placeholder="AV VP20/"></td>
            <td><input type="text" name="add_1" id="add_1" class="form-control" placeholder="ADD"></td>
        </tr>
        
    </table>


<table>
    <caption>Formula Número</caption>

    <th><label for="tipo_lente">Tipo de Lente</label></th>
    <td><input type="text" name="tipo_lente" id="tipo_lente" class="form-control" placeholder="Tipo de Lente"></td>
    <th><label for="montura">Montura</label></th>
    <td><input type="text" name="montura" id="montura" class="form-control" placeholder="Montura"></td>
    <tr>
        <th><label for="material">Material</label></th>
        <td><input type="text" name="material" id="material" class="form-control" placeholder="Material"></td>
        <th><label for="filtro">Filtro</label></th>
        <td><input type="text" name="filtro" id="filtro" class="form-control" placeholder="Filtro"></td>
        <th><label for="color">Color</label></th>
        <td><input type="text" name="color" id="color" class="form-control" placeholder="Color"></td>
    </tr>
    <tr>
        <th><label for="obs">Observación</label></th>
        <td><input type="text" name="obs" id="obs" class="form-control" placeholder="Observación"></td>
    </tr>
</table>


<button type="button" class="btn btn-primary" onclick="obtenerdatos()">Guardar</button>

<script type="text/javascript">
    function obtenerdatos() {
        // Obtener Información de las tablas
        var tipo_lente = document.getElementById('tipo_lente').value;
        var montura = document.getElementById('montura').value;
        var material = document.getElementById('material').value;
        var filtro = document.getElementById('filtro').value;
        var color = document.getElementById('color').value;

        // Mostrar la información en la tabla
        document.getElementById('tipo_lenteobtenido').innerText = tipo_lente;
        document.getElementById('monturaobtenido').innerText = montura;
        document.getElementById('materialobtenido').innerText = material;
        document.getElementById('filtroobtenido').innerText = filtro;
        document.getElementById('colorobtenido').innerText = color;
    }

    function imprimirDatos() {
            // Obtener los datos actuales
            obtenerdatos();

            // Crear el contenido HTML de la tabla con los datos
            var tablaDatos = document.getElementById('tablaDatos').outerHTML;

            // Abrir una nueva ventana para imprimir
            var ventanaImpresion = window.open('', '_blank');
            ventanaImpresion.document.write('<html><head><title>Imprimir Datos</title></head><body>');
            ventanaImpresion.document.write(tablaDatos);
            ventanaImpresion.document.write('</body></html>');
            ventanaImpresion.document.close();

            // Iniciar el diálogo de impresión
            ventanaImpresion.print();
        }
</script>

<table id="tablaDatos" class="table">
    <caption>Datos</caption>
    <tr>
        <td>Tipo de Lente</td><td><span id="tipo_lenteobtenido"></span></td>
    </tr>
    <tr>
        <td>Montura</td><td><span id="monturaobtenido"></span></td>
    </tr>
    <tr>
        <td>Material</td><td><span id="materialobtenido"></span></td>
    </tr>
    <tr>
        <td>Filtro</td><td><span id="filtroobtenido"></span></td>
    </tr>
    <tr>
        <td>Color</td><td><span id="colorobtenido"></span></td>
    </tr>
</table>

<button type="button" class="btn btn-success" onclick="imprimirDatos()">Imprimir</button>


<button type="submit" class="btn btn-primary">Enviar</button>

</form>

<button id="mybutton" class="btn btn-secondary">Regresar</button>
<script type="text/javascript">
    document.getElementById("mybutton").onclick = function(){
        location.href="/antecedentes";  // Redirige a la página de inicio de la aplicación
    }
</script>


{% endblock %}
