{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos del paciente</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css"> <!-- Agrega estilos según tus necesidades -->
</head>

<body>

    <form id="multipaso-form" method="post" action="/index" enctype="multipart/form-data">
        <div class="container mt-5">


            <div class="form-step" data-step="1">
                <fieldset>
                    <legend>Información Personal</legend>
                    <div class="form-group">
                        <label for="txtDocumento">Documento:</label>
                        <input type="text" name="txtDocumento" id="txtDocumento" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="tipo_documento">Tipo de Documento:</label>
                        <select name="tipo_documento" id="tipo_documento" class="form-control">
                            <option value="cedula">C.C</option>
                            <option value="tarjeta_identidad">T.I</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Nombre">Nombre:</label>
                        <input type="text" name="Nombre" id="Nombre" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Edad">Edad:</label>
                        <input type="text" name="Edad" id="Edad" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="genero">Género:</label>
                        <select name="genero" id="genero" class="form-control">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" name="email" id="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="direccion">Dirección:</label>
                        <input type="text" name="direccion" id="direccion" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono:</label>
                        <input type="text" name="telefono" id="telefono" class="form-control">
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Información Adicional</legend>
                    <div class="form-group">
                        <label for="eps">EPS:</label>
                        <input type="text" name="eps" id="eps" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="cargo">Ocupación</label>
                        <input type="text" name="cargo" id="cargo" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="acompanante">Acompañante:</label>
                        <input type="text" name="acompanante" id="acompanante" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="parentesco">Parentesco:</label>
                        <input type="text" name="parentesco" id="parentesco" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="telefono_acompanante">Teléfono del Acompañante:</label>
                        <input type="text" name="telefono_acompanante" id="telefono_acompanante" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="motivo_consulta">Motivo de la Consulta:</label>
                        <textarea name="motivo_consulta" rows="5" cols="40" id="motivo_consulta"
                            class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="ultima_revision">Última Revisión:</label>
                        <input type="date" name="ultima_revision" id="ultima_revision" class="form-control">
                    </div>
                </fieldset>
            </div>

            <div class="form-step" data-step="2">
                <table class="table">
                    <h6>Antecedentes Familirares</h6>
                    <thead>
                        <tr>
                            <th scope="col">Antecedentes En</th>
                            <th>Observación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <th>DIABETES</th>

                            <td>
                                <select name="dia" id="dia">
                                    <option value="no_refiere">NO REFIERE</option>
                                    <option value="refiere">REFIERE</option>
                                </select>
                            </td>

                        </tr>

                        <tr>

                            <th>HIPERTENSIÓN</th>

                            <td>
                                <select name="hiper" id="hiper">
                                    <option value="no_refiere">NO REFIERE</option>
                                    <option value="refiere">REFIERE</option>
                                </select>
                            </td>
                        </tr>

                        <tr>

                            <th>ARTRITIS</th>

                            <td>
                                <select name="artr" id="artr">
                                    <option value="no_refiere">NO REFIERE</option>
                                    <option value="refiere">REFIERE</option>
                                </select>
                            </td>

                        </tr>

                        <tr>

                            <th>ALERGIA</th>

                            <td>
                                <select name="aler" id="aler">
                                    <option value="no_refiere">NO REFIERE</option>
                                    <option value="refiere">REFIERE</option>
                                </select>
                            </td>

                        </tr>
                        <tr>

                            <th>CATARATA</th>

                            <td>
                                <select name="cata" id="cata">
                                    <option value="no_refiere">NO REFIERE</option>
                                    <option value="refiere">REFIERE</option>
                                </select>
                            </td>

                        </tr>
                        <tr>
                            <th>GLAUCOMA</th>
                            <td>
                                <select name="glau" id="glau">
                                    <option value="no_refiere">NO REFIERE</option>
                                    <option value="refiere">REFIERE</option>
                                </select>
                            </td>

                        </tr>
                        <tr>

                            <th>ESTRABISMO</th>
                            <td>
                                <select name="estra" id="estra">
                                    <option value="no_refiere">NO REFIERE</option>
                                    <option value="refiere">REFIERE</option>
                                </select>
                            </td>

                        </tr>
                        <tr>

                            <th>QUERATOCONO</th>
                            <td>
                                <select name="quera" id="quera">
                                    <option value="no_refiere">NO REFIERE</option>
                                    <option value="refiere">REFIERE</option>
                                </select>
                            </td>
                        </tr>
                        <tr>

                            <th><label for="otros">OTROS</label></th>

                            <td><input type="text" name="otros" id="otros" class="form-control"></td>
                        </tr>
                    </tbody>
                </table>
                <table class="default">
                    <thead>
                        <h6>Antecedentes Personales</h6>
                     </thead>
                    
                    <tr>

                        <th scope="col">Antecedentes En</th>
                        <th>Observación</th>

                    </tr>

                    <tr>
                        <th><label for="diabetes">DIABETES</label></th>

                        <td><input type="text" name="diabetes" id="diabetes" class="form-control"></td>
                    </tr>
                    <tr>
                        <th><label for="hipertension">HIPERTENSIÓN</label></th>

                        <td><input type="text" name="hipertension" id="hipertension" class="form-control"></td>
                    </tr>
                    <tr>
                        <th><label for="artritis">ARTRITIS</label></th>

                        <td><input type="text" name="artritis" id="artritis" class="form-control"></td>
                    </tr>
                    <tr>
                        <th><label for="alergia">ALERGIA</label></th>

                        <td><input type="text" name="alergia" id="alergia" class="form-control"></td>
                    </tr>
                    <tr>
                        <th><label for="ulcera">ÚLCERA GÁSTRICA</label></th>

                        <td><input type="text" name="ulcera" id="ulcera" class="form-control"></td>
                    </tr>
                    <tr>
                        <th><label for="cirugia">CIRUGÍA REFRACTIVA</label></th>

                        <td><input type="text" name="cirugia" id="cirugia" class="form-control"></td>
                    </tr>
                    <tr>
                        <th><label for="lentes">LENTES DE CONTACTO</label></th>

                        <td><input type="text" name="lentes" id="lentes" class="form-control"></td>
                    </tr>
                    <tr>
                        <th><label for="otros_1">OTROS</label></th>

                        <td><input type="text" name="otros_1" id="otros_1" class="form-control"></td>
                    </tr>


                </table>

                <table class="default">
                   
                        <thead> 
                            <h6>Antecedentes Quirúrgicos<h6>
                        </thead>
                    <tr>
                        <th><label for="descripcion">Describalo</label></th>

                        <td><input type="text" name="descripcion" id="descripcion" class="form-control"></td>
                    </tr>

                </table>

            </div>

            <div class="form-step" data-step="3">
                <table class="table">
                    <th><label for="mov_consulta">Motivo de Consulta</label></th>
                    <td><input type="text" name="mov_consulta" id="mov_consulta" class="form-control"
                            placeholder="Motivo de Consulta"></td>
                    <th><label for="ulti_consulta">Ultima Consulta</label></th>
                    <td><input type="text" name="ulti_consulta" id="ulti_consulta" class="form-control"
                            placeholder="Ultima Consulta"></td>
                </table>
                <table class="table">
                    <table class="table">
                        <h6>RX FINAL (Formulación)</h6>
                        <tr>
                            <th><label for="esfera">OJO DERECHO</label></th>

                            <th><label for="tipo_lente">Esfera</label></th>
                            <td><input type="text" name="esfera" id="esfera" class="form-control" placeholder="Esfera">
                            </td>
                            <th><label for="tipo_lente">Cilindro</label></th>
                            <td><input type="text" name="cilindro" id="cilindro" class="form-control"
                                    placeholder="Cilindro"></td>
                            <th><label for="tipo_lente">Eje</label></th>
                            <td><input type="text" name="eje" id="eje" class="form-control" placeholder="Eje"></td>
                            <th><label for="tipo_lente">DP</label></th>
                            <td><input type="text" name="dp" id="dp" class="form-control" placeholder="D.P"></td>
                            <th><label for="tipo_lente">VL20</label></th>
                            <td><input type="text" name="vl20" id="vl20" class="form-control" placeholder="AV VL20/">
                            </td>
                            <th><label for="tipo_lente">VP20</label></th>
                            <td><input type="text" name="vp20" id="vp20" class="form-control" placeholder="AV VP20/">
                            </td>
                            <th><label for="tipo_lente">ADD</label></th>
                            <td><input type="text" name="add_0" id="add_0" class="form-control" placeholder="ADD"></td>
                        </tr>
                        <tr>
                            <th><label for="ojo_izq">OJO IZQUIERDO</label></th>
                            <th><label for="tipo_lente">Esfera</label></th>
                            <td><input type="text" name="esfera_1" id="esfera_1" class="form-control"
                                    placeholder="Esfera"></td>
                            <th><label for="tipo_lente">Cilindro</label></th>
                            <td><input type="text" name="cilindro_1" id="cilindro_1" class="form-control"
                                    placeholder="Cilindro"></td>
                            <th><label for="tipo_lente">Eje</label></th>
                            <td><input type="text" name="eje_1" id="eje_1" class="form-control" placeholder="Eje"></td>
                            <th><label for="tipo_lente">DP</label></th>
                            <td><input type="text" name="dp_1" id="dp_1" class="form-control" placeholder="D.P"></td>
                            <th><label for="tipo_lente">VL20</label></th>
                            <td><input type="text" name="vl20_1" id="vl20_1" class="form-control"
                                    placeholder="AV VL20/"></td>
                            <th><label for="tipo_lente">VP20</label></th>
                            <td><input type="text" name="vp20_1" id="vp20_1" class="form-control"
                                    placeholder="AV VP20/"></td>
                            <th><label for="tipo_lente">ADD</label></th>
                            <td><input type="text" name="add_1" id="add_1" class="form-control" placeholder="ADD"></td>
                        </tr>


                    </table>


                    <table class="table">
                        <h6>Formula Número</h6>

                        <th><label for="tipo_lente">Tipo de Lente</label></th>
                        <td><input type="text" name="tipo_lente" id="tipo_lente" class="form-control"
                                placeholder="Tipo de Lente"></td>
                        <th><label for="montura">Montura</label></th>
                        <td><input type="text" name="montura" id="montura" class="form-control" placeholder="Montura">
                        </td>
                        <tr>
                            <th><label for="material">Material</label></th>
                            <td><input type="text" name="material" id="material" class="form-control"
                                    placeholder="Material"></td>
                            <th><label for="filtro">Filtro</label></th>
                            <td><input type="text" name="filtro" id="filtro" class="form-control" placeholder="Filtro">
                            </td>
                            <th><label for="color">Color</label></th>
                            <td><input type="text" name="color" id="color" class="form-control" placeholder="Color">
                            </td>
                        </tr>
                        <tr>
                            <th><label for="obs">Observación</label></th>
                            <td><input type="text" name="obs" id="obs" class="form-control" placeholder="Observación">
                            </td>
                        </tr>
                    </table>


                    <button type="button" class="btn btn-primary" onclick="obtenerdatos()">Guardar</button>

                    <script type="text/javascript">
                        function obtenerdatos() {
                            // Obtener Información de las tablas
                            var tipo_lente = document.getElementById('tipo_lente').value;
                            var montura = document.getElementById('montura').value;
                            var material = document.getElementById('material').value;
                            var filtro = document.getElementById('filtro').value;
                            var color = document.getElementById('color').value;

                            // Mostrar la información en la tabla
                            document.getElementById('tipo_lenteobtenido').innerText = tipo_lente;
                            document.getElementById('monturaobtenido').innerText = montura;
                            document.getElementById('materialobtenido').innerText = material;
                            document.getElementById('filtroobtenido').innerText = filtro;
                            document.getElementById('colorobtenido').innerText = color;
                        }

                        function imprimirDatos() {
                            // Obtener los datos actuales
                            obtenerdatos();

                            // Crear el contenido HTML de la tabla con los datos
                            var tablaDatos = document.getElementById('tablaDatos').outerHTML;

                            // Abrir una nueva ventana para imprimir
                            var ventanaImpresion = window.open('', '_blank');
                            ventanaImpresion.document.write('<html><head><title>Imprimir Datos</title></head><body>');
                            ventanaImpresion.document.write(tablaDatos);
                            ventanaImpresion.document.write('</body></html>');
                            ventanaImpresion.document.close();

                            // Iniciar el diálogo de impresión
                            ventanaImpresion.print();
                        }
                    </script>

                    <table id="tablaDatos" class="table">
                        <h6>Datos</h6>
                        <tr>
                            <td>Tipo de Lente</td>
                            <td><span id="tipo_lenteobtenido"></span></td>
                        </tr>
                        <tr>
                            <td>Montura</td>
                            <td><span id="monturaobtenido"></span></td>
                        </tr>
                        <tr>
                            <td>Material</td>
                            <td><span id="materialobtenido"></span></td>
                        </tr>
                        <tr>
                            <td>Filtro</td>
                            <td><span id="filtroobtenido"></span></td>
                        </tr>
                        <tr>
                            <td>Color</td>
                            <td><span id="colorobtenido"></span></td>
                        </tr>
                    </table>

                    <button type="button" class="btn btn-success" onclick="imprimirDatos()">Imprimir</button>
            </div>

            <div class="form-step" data-step="4">
                <tr>
                    <th><label for="vision_lejos">VISIÓN LEJANA</label> </th>
                    <td><input type="text" name="vision_lejos" id="vision_lejos" class="form-control"></td>
                </tr>

                <th><label for="vision_proxima">VISION PRÓXIMA</label></th>

                <td><input type="text" name="vision_proxima" id="vision_proxima" class="form-control"></td>
                </tr>
                <tr>
                    <th><label for="ducciones_od">DUCCIONES OD</label></th>

                    <td><input type="text" name="ducciones_od" id="ducciones_od" class="form-control"></td>
                </tr>
                <tr>
                    <th><label for="ducciones_oi">DUCCIONES OI</label></th>

                    <td><input type="text" name="ducciones_oi" id="ducciones_oi" class="form-control"></td>
                </tr>
                <tr>
                    <th><label for="ppc_od">PPC OD</label></th>

                    <td><input type="text" name="ppc_od" id="ppc_od" class="form-control"></td>
                </tr>
                <tr>
                    <th><label for="ppc_oi">PPC OI</label></th>

                    <td><input type="text" name="ppc_oi" id="ppc_oi" class="form-control"></td>
                </tr>
                

                <table class="table">
                    <h6>OFTALMOSCOPIA</h6>
                    <tr>
                        <th><label for="ojo_derecho">OJO DERECHO</label></th>

                        <td><input type="text" name="ojo_derecho" id="ojo_derecho" class="form-control"></td>
                    </tr>
                    <tr>
                        <th><label for="ojo_izquierdo">OJO IZQUIERDO</label></th>

                        <td><input type="text" name="ojo_izquierdo" id="ojo_izquierdo" class="form-control"></td>
                    </tr>
                </table>
                <table class="table">
                    <h6>QUERATOMETRIA</h6>
                    <tr>
                        <th><label for="ojo_dere">OJO DERECHO</label></th>

                        <td><input type="text" name="ojo_dere" id="ojo_dere" class="form-control"></td>
                    </tr>
                    <tr>
                        <th><label for="ojo_izqui">OJO IZQUIERDO</label></th>

                        <td><input type="text" name="ojo_izqui" id="ojo_izqui" class="form-control"></td>
                    </tr>
                </table>
                <table class="table">
                    <h6>REFACTROMETRIA</h6>
                    <tr>
                        <th><label for="ojo_derch">OJO DERECHO</label></th>

                        <td><input type="text" name="ojo_derch" id="ojo_derch" class="form-control"></td>
                    </tr>
                    <tr>
                        <th><label for="ojo_izquier">OJO IZQUIERDO</label></th>

                        <td><input type="text" name="ojo_izquier" id="ojo_izquier" class="form-control"></td>
                    </tr>
                </table>

                <table class="table">
                    <h6>RETINOSCOPIA</h6>
                    <tr>
                        <th><label for="esfera">OJO DERECHO</label></th>

                        <th><label for="tipo_lente">Esfera</label></th>
                        <td><input type="text" name="esfera" id="esfera" class="form-control" placeholder="Esfera"></td>
                        <th><label for="tipo_lente">Cilindro</label></th>
                        <td><input type="text" name="cilindro" id="cilindro" class="form-control"
                                placeholder="Cilindro"></td>
                        <th><label for="tipo_lente">Eje</label></th>
                        <td><input type="text" name="eje" id="eje" class="form-control" placeholder="Eje"></td>
                        <th><label for="tipo_lente">DP</label></th>
                        <td><input type="text" name="dp" id="dp" class="form-control" placeholder="D.P"></td>
                        <th><label for="tipo_lente">VL 20</label></th>
                        <td><input type="text" name="vl20" id="vl20" class="form-control" placeholder="AV VL20/"></td>
                        <th><label for="tipo_lente">VP 20</label></th>
                        <td><input type="text" name="vp20" id="vp20" class="form-control" placeholder="AV VP20/"></td>
                        <th><label for="tipo_lente">ADD</label></th>
                        <td><input type="text" name="add" id="add" class="form-control" placeholder="ADD"></td>
                    </tr>
                    <tr>
                        <th><label for="ojo_izq">OJO IZQUIERDO</label></th>

                        <th><label for="tipo_lente">Esfera</label></th>
                        <td><input type="text" name="esfera_1" id="esfera_1" class="form-control" placeholder="Esfera">
                        </td>
                        <th><label for="tipo_lente">Cilindro</label></th>
                        <td><input type="text" name="cilindro_1" id="cilindro_1" class="form-control"
                                placeholder="Cilindro"></td>
                        <th><label for="tipo_lente">Eje</label></th>
                        <td><input type="text" name="eje_1" id="eje_1" class="form-control" placeholder="Eje"></td>
                        <th><label for="tipo_lente">DP</label></th>
                        <td><input type="text" name="dp_1" id="dp_1" class="form-control" placeholder="D.P"></td>
                        <th><label for="tipo_lente">VL 20</label></th>
                        <td><input type="text" name="vl20_1" id="vl20_1" class="form-control" placeholder="AV VL20/">
                        </td>
                        <th><label for="tipo_lente">VP 20</label></th>
                        <td><input type="text" name="vp20_1" id="vp20_1" class="form-control" placeholder="AV VP20/">
                        </td>
                        <th><label for="tipo_lente">ADD</label></th>
                        <td><input type="text" name="add_1" id="add_1" class="form-control" placeholder="ADD"></td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-primary" >Enviar </button>
            </div>
        </div>
    </form>

    <script>
        function nextStep(step) {
            document.querySelector(`.form-step[data-step="${step}"]`).style.display = 'block';
            document.querySelector(`.form-step[data-step="${step - 1}"]`).style.display = 'none';
        }

        function prevStep(step) {
            document.querySelector(`.form-step[data-step="${step}"]`).style.display = 'block';
            document.querySelector(`.form-step[data-step="${step + 1}"]`).style.display = 'none';
        }
    </script>

</body>

</html>
{% endblock %}